[submodule "CarND-01-Computer-Vision-Canny-to-Detect-Lane-Lines"]
	path = CarND-01-Computer-Vision-Canny-to-Detect-Lane-Lines
	url = https://github.com/LucaMac1/CarND-01-Computer-Vision-Canny-to-Detect-Lane-Lines.git
